@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.eplayers {
    width: 200px;
    height: 32.74px;
}
/* HEADER */
header {
    background-color: #000;
    height: 90px;
}
.container_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.menu_header {
    margin-left: 120px; 
    display: flex;
    justify-content: space-around;
    width: 1200px;
}
.menu_header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
/* FOOTER */
footer {
    background-color: #000;
    height: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px; 
    color: #ffffff;
}
.menu_footer {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 210px;
}
.footerl {
    width: auto;
    height: 210px;
    margin-right: 72.5px;
    margin-left: 42px;
}
.links {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px; 
}
.footer_container {
    margin-left: 92.5px;
    width: 407px;
    height: 256px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer_container span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.newsletter {
    width: auto;
    height: auto;
    display: flex;
    margin-top: 35px;
    justify-content: center;
}
footer input[type="text"] {
    background-color: white;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border-style: none;
    width: 195px;
    height: 25px;
}
footer input[type="submit"] {
    background-color: #001f70;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border-style: none;
    width: 140px;
    height: 25px;
}
.follow {
    margin-top: 100px;
    width: 378px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
.follow img {
    width: 40px;
    height: 40px;
}