@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BANNER */
.banner {
    background-image: linear-gradient(90deg, #230C1E 0%, #060a1a 30%, #060a1a 100%);
    width: auto;
    height: 400px;
    display: flex;
    align-items: flex-end;
}
.bannerimg {
    width: 750px;
    height: 289.2px;  
}
.container_sg {
    width: auto;
    height: 123px;
    margin-bottom: 90px;
    margin-left: 70px;
    text-align: center;
}
.container_sg h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px; 
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.container_sg h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px; 
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}
.container_sg h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px; 
    color: #ffffff;
    margin-bottom: 15px;
}
.container_sg button {
    width: 208px;
    height: 50px;
    border-radius: 20px;
    background-color: #FF1B1C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}
/* GAMES BAR */
.gamesbar {
    height: 100px;
    background-color: #000;
}
.gamesbar_container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.overwatch {
    width: 155.39px;
    height: 85px;
}
.valorant {
    width: 113.68px;
    height: 100px;
}
.league {
    width: 228.33px;
    height: 90px;
}
.rocket {
    width: 71.56px;
    height: 100px;
}
/* MAIN */
.mainbg {
    background-image: url("../assets_/others/overwatchbg.jpg");
    box-shadow: inset 269px 119px 250px 40px rgba(0, 0, 0, 0.81);
    height:auto;
    width: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.polygon {
    clip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}
.polygon_container {
    width: 600px;
    height: 276px;
    display: flex;
    flex-direction: column;
    margin: 40px 100px 0 100px;
}
.polygon h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px; 
    color: #ffffff;
    text-align: justify;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.polygon p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px; 
    color: #ffffff;
    text-align: justify;
    line-height: 30px;
}
.polygon img {
    width: 384px;
    height: 545px;
}
.matchesbar {
    height: 150px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.matchesbar h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 26px; 
    color: #ffffff;
    text-transform: uppercase;
}
.matchesbar_lc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.matchesbar_lc p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px; 
    color: #ffffff;
    text-transform: uppercase;
}
.matchesbar img {
    width: 50px;
    height: 50px;
}
.matchesbar span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 26px; 
    color: #D9D2D2;
}
.matchesbar hr {
    height: 125px;
    color: white;
}
.hr2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hr2 hr {
    height: 60px;
    color: white;
}
/* NEWS */
.bg {
    width: auto;
    height: 900px;
    background: linear-gradient(180deg, #060A1A 20%, #360D21 50%, #060A1A 80%);
    backdrop-filter: blur(50px);
    display: flex;
    align-items: center;
}
.wata {
    display: flex;
}
.article_container {
    width: 810px;
    height: 900px;
    margin-right: 30px;
}
.bg h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 30px 40px;
    text-align: center;
}
.news_block_bg {
    width: 230px;
    height: 360px;
    background-color: #343434;
    box-shadow: 15px 15px 40px rgba(61, 61, 61, 0.5);
    border-radius: 5px;
}
.news_block_img {
    width: 230px;
    height: 161.4px;
    filter: drop-shadow(15px 0px 40px rgba(61, 61, 61, 0.5));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.news_block_bg h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
}
.news_block_bg p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-align: left;
    padding: 15px 15px 0px 15px; 
}
.bg article {
    display: block;
    margin: 0px 0px 30px 40px;
}
/* ASIDE */
.aside_ {
    width: 400px;
    height: 900px;
    margin-left: 30px;
}
.aside_ h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
}
aside {
    width: 400px;
    height: 750px;
    background-color: #343434;
    box-shadow: 15px 15px 40px rgba(61, 61, 61, 0.5);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
aside hr {
    width: auto;
    color: #D9D2D2;
}
.nmatch {
    width: 350px;
    height: 149px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.match {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nmatch img {
    width: 50px;
    height: 50px;
    margin: 0 40px;
}
.nmatch span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px; 
    color: #D9D2D2;
}